{% load static %}
{% load custom_timesince %}
<!--ang navbar-->
{% include 'base.html' %}

{% block content %}
{% include 'OnlyPans/post-view.html' %}

<!--css for home-->
<link rel="stylesheet" href="{% static 'css/home.css' %}">

  <div class="home-body-container">
    <div class="sidebar">
      <!--239x702-->
      <div class="home-user-details">
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}">
        <div>
          <span class="home-name">{{ user.first_name }} {{ user.last_name }}</span>
          <span class="home-username">@{{ user.username }}</span>
        </div>
      </div>
      <div class="home-categories">
        <!--239x452-->
        <a href="" class="home-filter-link" 
        data-category-type="Meat"
        data-target="Meat">
          <i class="fas fa-hamburger"></i>
          Meat
        </a>
        <a href="" class="home-filter-link" 
        data-category-type="Chicken"
        data-target="Chicken">
          <i class="fas fa-drumstick-bite"></i>
          Chicken
        </a>
        <a href="" class="home-filter-link" 
        data-category-type="Seafood"
        data-target="Seafood">
          <i class="fas fa-fish"></i>
          Seafood
        </a>
        <a href="" class="home-filter-link" 
        data-category-type="Veggies"
        data-target="Veggies">
          <i class="fas fa-carrot"></i>
          Veggies
        </a>
        <a href="" class="home-filter-link" 
        data-category-type="Dessert"
        data-target="Dessert">
          <i class="fas fa-ice-cream"></i>
          Dessert
        </a>
        <a href="" class="home-filter-link" 
        data-category-type="Snack"
        data-target="Snack">
          <i class="fas fa-cookie"></i>
          Snack
        </a>
        <a href="" class="home-filter-link" 
        data-category-type="Beverages"
        data-target="Beverages">
          <i class="fas fa-coffee"></i>
          Beverage
        </a>
      </div>
    </div>
    <div class="home-content">
      <!--w:676-->
      <div class="home-create-post">
        <img src="{{ user.avatar.url }}" alt="{{ user.username }}">
        <div class="create-input">
          <!--580x35-->
          <span id="create-post-home-btn">What's cooking, {{ user.first_name }}?</span>
        </div>
        <!--CREATE POST HOME MODAL-->
        <div id="create-post-home" class="modal" style="overflow-y: hidden;">
          <div class="createPostContent">
            <div class="modal-header">
              <span class="close" id="createPostX">&times;</span>
              <h2>Create Post</h2>
            </div>
            <div class="modal-body">
              <form action="{% url 'create_post_home' request.user.username %}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                  <div class="form-field">
                    {{ createpost_form.title.label }}<br/>
                    {{ createpost_form.title }}
                  </div>
                  <div class="form-field">
                    {{ createpost_form.category.label }}<br/>
                    {{ createpost_form.category }}
                  </div>
                  <div class="form-field">
                    {{ createpost_form.description.label }}<br/>
                    {{ createpost_form.description }}
                  </div>
                  <div class="form-field">
                    {{ createpost_form.ingredients.label }}<br/>
                    {{ createpost_form.ingredients }}
                  </div>
                  <div class="form-field">
                    {{ createpost_form.image.label }} <br/>
                    {{ createpost_form.image }}
                  </div>
                  <input type="hidden" name="create_post_home" />
                  <div class="modal-footer">
                    <input type="submit" value="Submit"
                    id="create-post-home-submit-btn" disabled />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <h2>{{ filter_type | title }}</h2>
      <!--posts section-->
      <!--search-food-results sa search-->
      <div class="post-container">
        <!--start sa post-->
         {% for post in posts_data %} 
         <!-- <p>{{ post.post.user.username }} and {{ request.user.username }}</p> -->
          <div class="home-post" id="post-{{ post.post_id }}">
            <!--post header-->
            <div class="home-post-header">
              <div class="home-post-owner">
                <img src="{{ post.post.user.avatar.url }}" alt="" loading="lazy">
                <div class="home-post-owner-details">
                  <span class="owner-name">
                    {{ post.post.user.first_name }}
                    {{ post.post.user.last_name }}
                  </span>
                  <span class="post-date">
                    {{ post.post.created_at | custom_timesince }} ago.
                  </span>
                </div>
              </div>
              
              {% if request.user.username == post.post.user.username %} 
                <div class="home-post-actions">
                  <button class="edit-icon edit-btn"
                  data-post-title="{{ post.post.title | escapejs }}"
                  id="openEditPostModalBtn"
                  data-post-id="{{ post.post.post_id }}"
                  data-post-category="{{ post.post.category_id }}"
                  data-post-description="{{ post.post.description | escapejs }}"
                  data-post-ingredients="{{ post.post.ingredients | escapejs }}">
                    <i class="fas fa-edit" title="Edit"></i>
                  </button>
                  <button class="delete-post-button" title="Delete"
                  id="deletePostModalBtn"
                  data-post-id="{{ post.post.post_id }}"
                  data-next="home/">
                    &times;
                  </button>
                </div>
              {% endif %} 
            </div>
            <!--post body-->
            <div class="home-post-body">
              <span id="post-title-{{ post.post_id }}" class="home-post-title">{{ post.post.title }}</span>
              <div class="home-post-image">  
                {% if post.images %}
                  {% for image in post.images %} 
                    <a href="javascript:void(0)" 
                    class="post-image-link"
                    data-post-id="{{ post.post.post_id }}"
                    onclick="showPopup(event)">
                      <img src="{{ image }}" alt="{{ post.post.title }}" loading="lazy">
                    </a>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <!--post footer-->
            <div class="home-post-footer">
              <span class="no-of-likes" data-post-id="{{ post.post_id }}">
                {{ post.likes_count }}
                <i class="fa-solid fa-heart"></i>
              </span>
              <span class="no-of-comments" data-post-id="{{ post.post_id }}">
                {{ post.comments_count }}
                <i class="fa-solid fa-comment"></i>
              </span>
            </div>
          </div>
        {% endfor %} 
       <!--if there are more than 2 posts, add pagination logic-->
      </div>
      
      <!-- <div class="extended">

      </div> -->
    </div>
  </div>
<!--script for passing the load more post url-->
<script>
  // window.loadMorePostURL = "{% url 'load_more_posts' filter_type  %}";
  // console.log(loadMorePostURL)
</script>

<!-- <script src="{% static 'js/edit-post-home.js' %}" defer></script> -->
<script src="{% static 'js/open-post.js' %}" defer></script>
<script src="{% static 'js/load-more-posts-home.js' %}" defer></script>
<script src="{% static 'js/home-sidebar-active.js' %}" defer></script>
<script src="{% static 'js/create-post-home.js' %}" defer></script>
{% endblock %}