{% load static %}
<!--ang navbar-->
{% include 'base.html' %}

{% block content %}
{% include 'OnlyPans/post-view.html' %}
<!--css for home-->
<link rel="stylesheet" href="{% static 'css/home.css' %}">

  <div class="home-body-container">
    <div class="sidebar">
      <!--239x702-->
      <div class="home-user-details">
        <img src="https://via.placeholder.com/150" alt="">
        <div>
          <span class="home-name">Wire Frame</span>
          <span class="home-username">@wire_frame</span>
        </div>
      </div>
      <div class="home-categories">
        <!--239x452-->
        <a href="">
          <i class="fas fa-hamburger"></i>
          <span class="category-title">Meat</span>
        </a>
        <a href="">
          <i class="fas fa-drumstick-bite"></i>
          <span class="category-title">Chicken</span>
        </a>
        <a href="">
          <i class="fas fa-fish"></i>
          <span class="category-title">Seafood</span>
        </a>
        <a href="">
          <i class="fas fa-carrot"></i>
          <span class="category-title">Veggies</span>
        </a>
        <a href="">
          <i class="fas fa-ice-cream"></i>
          <span class="category-title">Dessert</span>
        </a>
        <a href="">
          <i class="fas fa-cookie"></i>
          <span class="category-title">Snack</span>
        </a>
        <a href="">
          <i class="fas fa-coffee"></i>
          <span class="category-title">Beverage</span>
        </a>
      </div>
    </div>
    <div class="home-content">
      <!--w:676-->
      <div class="home-create-post">
        <img src="https://via.placeholder.com/45" alt="">
        <div class="create-input">
          <!--580x35-->
          <span>What's cooking, Wire?</span>
        </div>
      </div>

      <!--posts section-->
      <!--search-food-results sa search-->
      <div class="post-container">
        <!--start sa post-->
        {# {% for post in posts %} #}
          <div class="home-post">
            <!--post header-->
            <div class="home-post-header">
              <div class="home-post-owner">
                <img src="https://via.placeholder.com/45" alt="" loading="lazy">
                <div class="home-post-owner-details">
                  <span class="owner-name">Ethan Acasio</span>
                  <span class="post-date">2 months ago.</span>
                </div>
              </div>
              {# {% if request.user == post.user %} #}
              <div class="home-post-actions">
                <button class="edit-icon" title="Edit"
                id="openEditPostModalBtn"
                data-post-id="{{ post.post_id }}"
                data-post-category="{{ post.category_id }}"
                data-post-description="{{ post.description | escapejs }}"
                data-post-ingredients="{{ post.ingredients | escapejs}}">
                  <i class="fas fa-edit" ></i>
                </button>
                <button class="delete-post-button" title="Delete"
                id="deletePostModalBtn"
                data-post-id="{{ post.post_id }}"
                data-next="{{ request.path }}">
                  &times;
                </button>
              </div>
              {# {% endif %} #}
            </div>
            <!--post body-->
            <div class="home-post-body">
              <span class="home-post-title">TEST</span>
              <div class="home-post-image">
              {% comment %}  
                {% if post.images.all %}
                  {% for image in post.images.all %} 
              {% endcomment %}
                <a href="javascript:void(0)" 
                class="post-image-link"
                data-post-id="{{ post.post_id }}"
                onclick="showPopup(event)">
                  <img src="https://via.placeholder.com/643x311" alt="post-image" loading="lazy">

                </a>
              {% comment %}
                  {% endfor %}
                {% endif %}
              {% endcomment %}
              </div>
            </div>
            <!--post footer-->
            <div class="home-post-footer">
              <span class="no-of-likes" data-post-id="{{ post.post_id }}">
                3
                <i class="fa-solid fa-heart"></i>
              </span>
              <span class="no-of-comments" data-post-id="{{ post.post_id }}">
                3
                <i class="fa-solid fa-comment"></i>
              </span>
            </div>
          </div>
          {# {% empty %} #}
          <div class="home-post">
            <span>No posts found.</span>
          </div>
       {# {% endfor %} #}
       <!--if there are more than 2 posts, add pagination logic-->
      </div>
      
      <div class="extended">

      </div>
    </div>
  </div>
{% endblock %}