{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="icon" href="{% static 'images/icons/Logo Onlypans.ico' %}" sizes="48x48" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs//6.0.0-beta3/css/.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <style>
    body {
      margin: 0;
      padding: 0;
      background: url("{% static 'images/bg.jpg' %}") center / cover no-repeat;
      height: 90vh;
    }
  </style>
</head>

<body>

  <div class="container">
    <!-- Left Side -->
    <div class="left-side">
      <img src="{% static 'images/bg2.jpg' %}" alt="OnlyPans Logo" class="profile-pic" />
      <div>
        <p class="brand-label">OnlyPans</p>
        <p class="tagline">where the hottest dishes go viral.</p>
        <!-- <p class="signup-text">
          Don't have an account?<br />
          <a href="{% url 'signup' %}" class="sign-up-link">Sign up here.</a>
        </p> -->
        <!-- <p class="extra">connect with other people around the world and share your recipe on OnlyPans.</p> -->
      </div>
    </div>

    <!-- Right Side: Login Form -->
    <div class="right-side">
      <h1>LOGIN</h1>
      <form method="POST">
        {% csrf_token %}
        <div class="form-field">
          {{ form.username|attr:"placeholder:Username" }}
        </div>
        <div class="form-field">
          <div class="password-wrapper">
            {{ form.password|attr:"placeholder:Password" }}
            <i class="fas fa-eye-slash" id="togglePassword"
              onclick="togglePassword('id_password', 'togglePassword')"></i>
          </div>
          <div class="error">
            {% if messages %} {% for message in messages %}

            <p style="margin: 0">{{ message }}</p>

            {% endfor %} {% endif %}
          </div>
        </div>
        <div class="form-footer">
          <button type="submit" id="loginSubmitBtn">Log In</button>
        </div>
        <div class="divider"></div>
        <a href="{% url 'signup' %}" class="button-link">
          <button type="button" class="sign-up-btn">Create new account</button>
        </a>

      </form>
    </div>
  </div>

  <script>
    function togglePassword(inputId, iconId) {
      const passwordInput = document.getElementById(inputId);
      const toggleIcon = document.getElementById(iconId);
      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        toggleIcon.classList.remove("fa-eye-slash");
        toggleIcon.classList.add("fa-eye");
      } else {
        passwordInput.type = "password";
        toggleIcon.classList.remove("fa-eye");
        toggleIcon.classList.add("fa-eye-slash");
      }
    }
  </script>
</body>

</html>