{% load static %} 
{% load custom_timesince %} 
{% if posts %}
{% for post in posts %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<div class="post">
  <div class="post_header">
    <div style="display: flex; align-items: center">
      <img src="{{ post.user.avatar.url }}" alt="{{ post.user.username }}" class="avatar_post" />
      <div class="post_info">
        <h3>{{ post.user.first_name }} {{ post.user.last_name }}</h3>
        <p>{{ post.created_at | custom_timesince }} ago.</p>
      </div>
    </div>

    <!-- Action icons -->
    {% if request.user == post.user %}

    <div class="post_actions">
      <button class="edit-icon" title="{{ post.title | escapejs }}"
      id="openEditPostModalBtn"
      data-post-id="{{ post.post_id }}" 
      data-post-category="{{ post.category_id }}"
      data-post-description="{{ post.description | escapejs }}"
      data-post-ingredients="{{ post.ingredients | escapejs }}"
      >
        <i class="fa-solid fa-pencil-alt" title="Edit"></i>
      </button>
      <!--edit post modal is added on the base template-->
  
      <button class="delete-post-button" title="Delete Post" id="deletePostModalBtn" 
      data-post-id="{{ post.post_id }}"
      data-next="{{ request.path }}">
        &times;
      </button>
      <!--the delete confirmation modal is added on the base template-->
    </div>
    {% endif %}
  </div>
  <div class="post_body">
    <h3 style="text-align: center">{{ post.title }}</h3>
    <!--DESCRIPTION-->
    <p id="truncatedDescription-{{ post.post_id }}" class="truncated">
      {{ post.description | truncatewords:30 }}
      {% if post.word_count > 30 %}
      <span href="" class="seeMoreDescription" data-post-id="{{ post.post_id }}">See more</span>
      {% endif %}
    </p>
    <p class="full-description" id="fullDescription-{{ post.post_id}}">
      {{ post.description }}
      <span class="seeLessDescription" data-post-id="{{ post.post_id}}">See less</span>
    </p>



    <!--INGREDIENTS-->
    <p id="ingredient-header">Ingredients:</p>
    <ul class="ingredients_container" id="truncatedIngredients-{{ post.post_id }}"
      style="padding: 10px 20px; font-size: 14px">
      {% for ingredient in post.ingredients_list|slice:":4" %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>

    <ul class="ingredients_container" id="allIngredients-{{post.post_id}}"
      style="display: none; padding: 10px 20px; font-size: 14px">
      {% for ingredient in post.ingredients_list|slice:"::" %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    {% if post.ingredients_list|length > 3 %}
    <span class="seeMoreIngredients" data-post-id="{{ post.post_id }}">See more</span>
    {% endif %}



    <!-- Loop through images related to the post -->
    <div class="post_images">
      {% for image in post.images.all %}
      <img src="{{ image.image.url }}" alt="{{ post.title }}" class="post_image" />
      {% endfor %}
    </div>
  </div>
  <div class="stats">
    <p id="like-count-{{ post.post_id }}">
      {{ post.like_set.count }} <i class="fa-solid fa-heart"></i>
    </p>
    <p>
      <span id="commentCount-{{ post.post_id | escapejs }}">
        {{ post.comment_count }}
      </span>
      <i class="fa-solid fa-comment"></i>
    </p>
  </div>
  {% if user.is_authenticated %}
  
  <div class="post_footer">
    <button class="like_button" id="like-btn-{{ post.post_id }}" data-post-id="{{ post.post_id }}">
      <i class="fa-solid fa-heart"></i>
      {% if post.post_id in liked_posts %} 
        Unlike 
      {% else %} 
        Like 
      {% endif %}
    </button>
    <button class="comment_button">
      <i class="fa-solid fa-comment"></i> Comment
    </button>
  </div>
  {% endif %}

  <!-- Comments Section -->

  <div class="comments_section" 
  data-post-id="{{ post.post_id }}" 
  id="commentsSection-{{ post.post_id }}"
  data-total-comments="{{ post.comment_count }}"
  data-logged-user-name="{{ request.user.first_name }} {{ request.user.last_name }}">
  {% for comment in post.initial_comments %}
    <div class="comment" data-post-id="{{post.post_id|escapejs}}">
      <img src="{{ comment.user.avatar.url }}" alt="pp" class="avatar_post" />
      <div class="comment_content">
        <div class="comment_info">
          <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
          <p>{{ comment.created_at | custom_timesince }} ago</p>
        </div>
        <div class="edit-comment" contenteditable="false" id="comment-text-{{ comment.comment_id }}">
          {{ comment.message | truncatewords:40 }}
        </div>
      </div>
      {% if comment.user == request.user %}
      <div class="comment-controls">
        <i class="fa-solid fa-pencil-alt pen-icon" style="color: #33221a" id="editCommentBtn-{{ comment.comment_id }}"
          onclick="toggleEdit('{{ comment.comment_id }}')"></i>

        <button class="close-button" data-comment-id="{{ comment.comment_id }}"
        onclick="openDeleteModal('{{ comment.comment_id }}')">
          &times;
        </button>
      </div>
      {% endif %}
      
    </div>
  {% endfor %} 
    {% if post.comment_count > initial_comment_limit %}
    <span class="seeMore" data-offset="2" 
    style="font-size: 14px; font-weight: lighter; cursor: pointer">Load more...</span>
    {% endif %}
    
  </div>
    <script>
      
    </script>
  {% include 'OnlyPans/modals/comment_delete_confirmation.html' %}

  <!-- Add Comment Section -->
  <form class="comment_section commentForm" method="post" action="" id="commentForm" style="display: none">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlwaretoken" value="{{ csrf_token }}" />
    <input type="hidden" name="post_id" value="{{ post.post_id }}" />
    <img src="{{ request.user.avatar.url }}" alt="pp" class="avatar_post" style="object-fit: cover" />
    <div class="input-wrapper">
      <!--gi ilisan nako ang id ug class-->
      <textarea placeholder="Write a comment..." class="addComment" name="message" required rows="1"
      oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"></textarea>
      <button type="submit" class="submit-button">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>
{% endfor %} {% else %}
<div class="post">
  <p style="text-align: center; color: #8d8d8d">No post to show</p>
</div>
{% endif %}

      <script>
        //script para sa see more description:
        $(document).ready(function () {
          // Handle "See more" / "See less" for descriptions
          $(document).on('click', '.seeMoreDescription', function (e) {
            e.preventDefault();
            var postId = $(this).data('post-id');
            $("#fullDescription-" + postId).show();
            $("#truncatedDescription-" + postId).hide();
          })
          $(document).on('click', '.seeLessDescription', function (e) {
            e.preventDefault();
            var postId = $(this).data('post-id');
            $("#fullDescription-" + postId).hide();
            $("#truncatedDescription-" + postId).show();
          })
    
          // Handle "See more" / "See less" for ingredients
          $(document).on('click', '.seeMoreIngredients', function (e) {
            e.preventDefault();
            var postId = $(this).data('post-id');
    
            // Toggle visibility of all ingredients and truncated ingredients for the specific post
            $("#allIngredients-" + postId).toggle();
            const $truncatedIngredients = $('#truncatedIngredients-' + postId);
            var link = $(this);
    
            // Check if all ingredients are visible and change link text
            if ($('#allIngredients-' + postId).is(':visible')) {
              link.text('See less');
              $truncatedIngredients.hide();
            } else {
              link.text('See more');
              $truncatedIngredients.show();
            }
          });
        });
    
      </script>