{% load static %} {% if posts %} {% for post in posts %}
<div class="post">
  <div
    class="post_header"
    style="display: flex; justify-content: space-between; align-items: center"
  >
    <div style="display: flex; align-items: center">
      <img src="{{ post.user.avatar.url }}" alt="pp" class="avatar_post" />
      <div class="post_info">
        <h3>{{ post.user.first_name }} {{ post.user.last_name }}</h3>
        <p>{{ post.created_at | timesince }} ago.</p>
      </div>
    </div>

    <!-- Action icons -->
    {% if request.user == post.user %}

    <div class="post_actions">
      <button
        class="edit_icon"
        title="{{ post.title | escapejs }}"
        id="openEditPostModalBtn"
        data-post-id="{{ post.post_id }}"
        data-post-category="{{ post.category.category_id | escapejs }}"
        data-post-description="{{ post.description | escapejs }}"
        data-post-ingredients="{{ post.ingredients | escapejs }}"
        style="background: none; border: none; cursor: pointer"
      >
        <i class="fa-solid fa-pencil-alt" style="color: #33221a"></i>
        <span class="tooltip">Edit</span>
      </button>

      <!--edit post modal-->
      {% include 'OnlyPans/modals/editpost_modal.html' %}

      <button
        class="delete_icon"
        title="Delete Post"
        id="deletePostModalBtn"
        data-post-id='{{ post.post_id }}'
        style="
          padding: 2px;
          font-size: 20px;
          font-weight: bold;
          border-radius: 50%;
          border: none;
          width: 30px;
          height: 30px;
          color: #fdeed8;
          background-color: #33221a;
          cursor: pointer;
        "
      >
        &times;
      </button>
    </div>
    {% endif %}
  </div>
  {% include 'OnlyPans/modals/post_delete_confirmation.html' %}
  <div class="post_body">
    <h3 style="text-align: center">{{ post.title }}</h3>
    <p style="text-align: justify">{{ post.description | truncatewords:50 }}</p>
    <p style="font-weight: bold">Ingredients:</p>
    <ul
      class="ingredients_container"
      style="padding: 10px 20px; font-size: 14px"
    >
      {% for ingredient in post.ingredients_list %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
    <!-- Loop through images related to the post -->
    <div class="post_images">
      {% for image in post.images.all %}
      <img
        src="{{ image.image.url }}"
        alt="{{ post.title }}"
        class="post_image"
      />
      {% endfor %}
    </div>
  </div>
  <div class="stats">
    <p id="like-count-{{ post.post_id }}">
      {{ post.like_set.count }} <i class="fa-solid fa-heart"></i>
    </p>
    <p>10 <i class="fa-solid fa-comment"></i></p>
  </div>
  {% if user.is_authenticated %}
  <form method="post" id="csrf_form">{% csrf_token %}</form>
  <div class="post_footer">
    <button
      class="like_button"
      id="like-btn-{{ post.post_id }}"
      data-post-id="{{ post.post_id }}"
    >
      <i class="fa-solid fa-heart"></i>

      {% if post.post_id in liked_posts %} Unlike {% else %} Like {% endif %}
    </button>
    <button class="comment_button">
      <i class="fa-solid fa-comment"></i> Comment
    </button>
  </div>
  {% endif %}

  <!-- Comments Section -->
  <div class="comments_section" data-post-id="{{ post.post_id }}">
    {% for comment in post.random_comments %}
    <div class="comment">
      <img src="{{ comment.user.avatar.url }}" alt="pp" class="avatar_post" />
      <div class="comment_content">
        <div class="comment_info">
          <h4>{{ comment.user.first_name }} {{ comment.user.last_name }}</h4>
          <p>{{ comment.created_at | timesince }} ago</p>
        </div>
        <div contenteditable="false" id="comment-text-{{ comment.comment_id }}">{{ comment.message | truncatewords:40 }}</div>
      </div>
      {% if comment.user == request.user %}
      <div class="comment-controls">
        <i class="fa-solid fa-pencil-alt pen-icon" style="color: #33221a" id="editCommentBtn-{{ comment.comment_id }}" onclick="toggleEdit('{{ comment.comment_id }}')"></i>
        
        <button class="close-button" data-comment-id="{{ comment.comment_id }}" onclick="openDeleteModal('{{ comment.comment_id }}')">
          &times;
        </button>
      </div>
      {% endif %}
    </div>
    {% endfor %}
    
    <script>
      function toggleEdit(commentId) {
        const commentText = document.getElementById(`comment-text-${commentId}`);
        const button = document.getElementById(`editCommentBtn-${commentId}`);
        
        // Check the current state of contentEditable
        if (commentText.contentEditable === "false") {
          commentText.contentEditable = "true"; // Enable editing
          commentText.focus(); // Focus on the text area
          // Change the icon to checkmark
          button.classList.remove('fa-pencil-alt');
          button.classList.add('fa-check'); // Use Font Awesome class for check icon
        } else {
          commentText.contentEditable = "false"; // Disable editing
          // Change the icon back to pencil
          button.classList.remove('fa-check');
          button.classList.add('fa-pencil-alt'); // Use Font Awesome class for pencil icon
          
          // Call saveComment to save changes
          saveComment(commentId);
        }
      }
    
      // AJAX function to save the comment
      function saveComment(commentId) {
        const saveUrl = "{% url 'save_comment' %}"
        const commentText = document.getElementById(`comment-text-${commentId}`);
        const updatedComment = commentText.textContent;
        console.log('{{ csrf_token }}')
        console.log('id to be edited: ', commentId)
        console.log('url: ', saveUrl)
        // AJAX request to save the updated content
        $.ajax({
          type: 'POST',
          url: '/save_comment/',
          data: {
            'comment_id': commentId,
            'updated_comment': updatedComment,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
          },
          success: function(response) {
            alert('Comment saved successfully');
            commentText.contentEditable = "false"; // Disable editing again
          },
          error: function(xhr, status, error) {
            alert('An error occurred');
            console.log('Error: ', error);
          }
        });
      }
    </script>
      </div>
  {% include 'OnlyPans/modals/comment_delete_confirmation.html' %}

  <!-- Add Comment Section -->
  <form class="comment_section" method="post" action="" id="commentForm">
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlwaretoken" value="{{ csrf_token }}" />
    <input type="hidden" name="post_id" value="{{ post.post_id }}" />
    <img
      src="{{ request.user.avatar.url }}"
      alt="pp"
      class="avatar_post"
      style="object-fit: cover"
    />
    <div class="input-wrapper">
      <!--gi ilisan nako ang id ug class-->
      <textarea
        placeholder="Write a comment..."
        class="addComment"
        name="message"
        required
        rows="1"
        oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"
      ></textarea>
      <button type="submit" class="submit-button">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>
{% endfor %} {% else %}
<div class="post">
  <p style="text-align: center; color: #8d8d8d">No post to show</p>
</div>
{% endif %}
<style>
  /*edit button*/
  .edit_icon {
    margin-right: 10px;
  }
  .tooltip {
    visibility: hidden;
    width: 60px;
    background-color: #33221a;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the icon */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
  }
</style>
<!--ajax import for like unlike no refresh-->
<!--gi comment kay na import na sa profile_view.html-->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<script src="{% static 'js/post.js' %}"></script>
<!--script for comment-->
<script>
  window.addCommentUrl = "{% url 'add_comment' %}";
</script>
<script src="{% static 'js/comment.js' %}"></script>
