{% include 'base.html' %} 
{% load static %} 
{% block content %}
<!--naa sa profile.css ang style gpamutang mostly-->
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<link rel="stylesheet" href="{% static 'css/responsive_profile.css' %}">
<!--style para sa follower ug following na modal-->

{% if user.is_authenticated %}
<div class="body">
  <!--modal para sa messages gi add sa base-->
  
  <div class="profile">
    {% if is_own_profile %}
    <img src="{{ request.user.avatar.url }}" alt="Profile Picture" />
    {% else %}
    <img src="{{ user.avatar.url }}" alt="Profile Picture" />
    {% endif %}
    <div>
      <h1>{{ user.first_name }} {{ user.last_name }}</h1>


      <div class="follow_details">
          <span id="followerModalBtn"> {{ number_of_follower }} follower{% if number_of_follower > 1 %}s{% endif %}</span>
        <!--follower modal-->
        <div id="followerModal" class="modal">
          <div class="followerContent">
            <div class="modal-header">
              <span id="followerXBtn">&times;</span>
              <h2>Followers</h2>
            </div>
            <div class="f_modal-body" id="followerModalBody">
              {% if follower %}
              {% for user in follower %}
              <a href="{% url 'profile' user.follower.username %}" style="text-decoration: none; color: inherit;">
                <div class="f_container">
                  <img src="{{ user.follower.avatar.url }}">
                  {{ user.follower.first_name }} {{ user.follower.last_name }}
                </div>
              </a>
              {% endfor %}
              {% else %}
              <p id="noFollowerMessage">No Follower</p>
              {% endif %}
            </div>
          </div>
        </div>
        <span class="dot">&#x2022;</span>
          <span id="followingModalBtn"> {{ number_of_following }} following{% if number_of_following > 1 %}s{% endif %}
          </span>
        <!--following modal-->
        <div id="followingModal" class="modal">
          <div class="followingContent">
            <div class="modal-header">
              <span id="followingXBtn">&times;</span>
              <h2>Following</h2>
            </div>
            <div class="f_modal-body">
              {% if following %}
                {% for user in following %}
                <a href="{% url 'profile' user.followed.username %}" style="text-decoration: none; color: inherit;">
                  <div class="f_container">
                    <img src="{{ user.followed.avatar.url }}" alt="following profile">
                    {{ user.followed.first_name }} {{ user.followed.last_name }}
                  </div>
                </a>
                {% endfor %}
              {% else %}
                <p>No Following</p>
              {% endif %}
            </div>
          </div>
        </div>
        </p>
      </div>

      <!--show sa following-->
      <div class="followers_avatar" id="followersAvatarContainer">
        {% if follower %}
        {% for user in follower|slice:":6" %}
        <a href="{% url 'profile' user.follower.username %}">
          <img src="{{ user.follower.avatar.url }}" alt="{{ user.follower.username }}" class="follow_avatar" />
        </a>
        {% endfor %}
        {% endif %}
      </div>

    </div>

    <div class="buttons">
      {% if is_own_profile %}
      <button class="button" id="editProfileBtn">Edit</button>
      <!--EDIT PROFILE MODAL-->
      {% include 'OnlyPans/modals/edit_profile.html' %}
      {% else %}
      <!--ajax follow-->
      {% csrf_token %}
      <button class="button" id="followBtn" data-username="{{ user.username }}"
        data-logged-in-username="{{ request.user.username }}">
        {% if is_following %} Unfollow {% else %} Follow {% endif %}
      </button>
      {% endif %}
    </div>
  </div>
  <div class="body_content">
    <div class="sidebar">

      <p class="intro">Intro</p>
      {% if is_own_profile %}
      <div class="bio_container">
        <p class="bio_text">{{ user.bio }}</p>
        <button class="button edit_bio" id="editBioBtn">Edit bio</button>
        <!--EDIT BIO MODAL-->
        {% include 'OnlyPans/modals/edit_bio.html' %}
      </div>
      {% else %}
      <div class="bio_container">
        <p class="bio_text">{{ user.bio }}</p>
        <br />
      </div>
      {% endif %}
      <p class="intro"><i class="fas fa-wifi" style="transform: rotate(50deg);"></i>Followed by <strong
          id="followed-by">{{number_of_follower}} people</strong></p>
      <p class="intro"><i class="fas fa-calendar-alt"></i>Joined on <strong>{{ user.date_joined|date:"F j, Y"}}</strong>
      </p>

      <div class="followers_container">
        <div class="follower_header">

          <p class="follower_title">Follower{% if number_of_follower > 1 %}s{% endif %}</p>
          <p class="number_of_follower">{{ number_of_follower }} follower{% if number_of_follower > 1 %}s{% endif %}</p>
        </div>


        <div class="followers" id="followers-container">
          {% if random_follower %}
          {% for user in random_follower %}

          <div class="follower_card" data-username="{{ user.follower.username }}">

            <a href="{% url 'profile' user.follower.username %}">
              <img src="{{ user.follower.avatar.url }}" alt="{{ user.follower.username }}" class="follower_picture" />
            </a>
            <p class="follower_name">{{ user.follower.last_name }}, {{ user.follower.first_name }}</p>
          </div>
          {% endfor %}
          {% endif %}

        </div>

      </div>
    </div>
    <!--end of sidebar-->

    <!--main content-->
    <div class="main_content">
      <!-- Create post modal -->
      {% if is_own_profile %}
      <!-- Create post content -->
      <div class="createPost">
        <img src="{{ request.user.avatar.url }}" alt="pp" class="avatar_post" />
        {% if is_own_profile %}
        <input type="text" placeholder="What's cooking, {{ request.user.first_name }}?" id="createPostDiv" />
        <!-- Create POST MODAL -->
        <div id="createPost" class="modal">
          <div class="createPostContent">
            <div class="modal-header">
              <span class="close" id="createPostX">&times;</span>
              <h2>Create Post</h2>
            </div>
            <div class="modal-body">
              <form action="{% url 'create_post' request.user.username %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                  <div class="form-field">
                    {{ createpost_form.title.label }}<br />
                    {{ createpost_form.title }}
                  </div>
                  <div class="form-field">
                    {{ createpost_form.category.label }}<br />
                    {{ createpost_form.category }}
                  </div>
                </div>
                <div class="form-field">
                  {{ createpost_form.description.label }}<br />
                  {{ createpost_form.description }}
                </div>
                <div class="form-field">
                  {{ createpost_form.ingredients.label }}<br />
                  {{ createpost_form.ingredients }}
                </div>
                <div class="form-field">
                  {{ createpost_form.image.label }}<br />
                  {{ createpost_form.image }}
                </div>
                <input type="hidden" name="create_post" />
                <div class="modal-footer">
                  <input type="submit" value="Submit" id="createPostSubmitbtn" disabled />
                  <!-- Initially disabled -->
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
      {% if posts %}
      {% else %}
      <style>
        .createPost {
          margin-bottom: 15px;
        }

        /*if way post i 0 ang margin para nice*/
      </style>
      {% endif %}
      {% else %}
      <style>
        .post:first-child {
          margin: 0;
        }

        /*if way post i 0 ang margin para nice*/
      </style>
      {% endif %}
      <!-- Posts Container -->
      <div id="post-container">
        
        {% include 'OnlyPans/post.html' %}

        <style>
          /*edit button*/
          .edit_icon {
            margin-right: 10px;
          }

          .tooltip {
            visibility: hidden;
            width: 60px;
            background-color: #33221a;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            /* Position the tooltip above the icon */
            left: 50%;
            margin-left: -50px;
            opacity: 0;
            transition: opacity 0.3s;
          }

          .comment_info p {
            font-size: 12px;
            color: var(--secondary-text-color);
          }
        </style>

      </div>

      <!-- Loading indicator -->
      <div id="loading" style="display: none;">Loading more posts...</div>
    </div>

  </div>
</div>
{% block scripts %}
<!--script for comment-->
<script>
  window.addCommentUrl = "{% url 'add_comment' %}";
</script>
<script src="{% static 'js/comment.js' %}"></script>
<!--scripts for showing the posts-->
<script src="{% static 'js/showposts.js' %}"></script>
<!--script para edit post-->
<!-- <script src="{% static 'js/edit-post.js' %}" defer></script> -->
{% endblock %}
<script>
  var username = "{{ user.username | escapejs }}"
  var followUrl = "{% url 'follow_user' user.username %}"
  console.log("{{user.username}}")
</script>

{% endif %} {% endblock %}