{% include 'base.html' %} {% load static %} {% block content %}
<!--naa sa profile.css ang style gpamutang mostly-->
<link rel="stylesheet" href="{% static 'css/profile.css' %}" />
<!--style para sa follower ug following na modal-->
<style>
  .follow_details {
    display: flex;
  }
  .dot {
    padding: 0 10px;

  }
  #followerModalBtn,
  #followingModalBtn {
    cursor: pointer;
  }
  #followerModal,
  #followingModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .followerContent,
  .followingContent {
    background-color: #e6d4bc;
    margin: 4% auto;
    padding: 20px;
    border: 2px solid #33221a;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    max-height: 80vh;
    overflow-y: auto;
  }
  #followerXBtn,
  #followingXBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  #followerXBtn:hover,
  #followerXBtn:focus,
  #followingXBtn:hover,
  #followingXBtn:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header h2 {
    text-align: center;
  }
  /*scrollbar design*/
  .followerContent::-webkit-scrollbar,
  .followingContent::-webkit-scrollbar {
    width: 12px;
  }
  .followerContent::-webkit-scrollbar-track,
  .followerContent::-webkit-scrollbar-tracl {
    background: #e6d6bc;
    border-radius: 10px;
    border: 2px solid #33221a;
  }
  /*thumb of the scrollbar*/
  .followerContent::-webkit-scrollbar-thumb
  .followingContent::-webkit-scrollbar-thumb {
    background-color: #33221a;
    border-radius: 10px;
  }
  /*thumb hover effect*/
  .followerContent::-webkit-scrollbar-thumb:hover,
  .followingContent::-webkit-scrollbar-thumb:hover {
    background-color: #4e3727;
  }

  /*card design*/
  .f_modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; 
  }
  .f_container {
    display: flex; /* Use flexbox to align avatar and names */
    align-items: center; /* Vertically center the items */
    margin: 10px; /* Space between items */
    background-color: #fdeed8; /* Background color */
    padding: 10px;
    border: 2px solid #33221a;
    border-radius: 10px;
  }
  .f_modal-body a {
    min-width: 95%;
    max-width: 95%;
  }
  .f_container img {
    max-width: 50px; 
    min-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 50%;
  }
</style>

{% if user.is_authenticated %}
<div class="body">
  <!--modal para sa messages-->
  {% include 'OnlyPans/modals/messages_modal.html' %}
  <div class="profile">
    {% if is_own_profile %}
    <img src="{{ request.user.avatar.url }}" alt="Profile Picture" />
    {% else %}
    <img src="{{ user.avatar.url }}" alt="Profile Picture" />
    {% endif %}
    <div>
      <h1>{{ user.first_name  }} {{ user.last_name }}</h1>
      
        
        <div class="follow_details">
          <p>
            <span id="followerModalBtn"> {{ number_of_follower }} follower{% if number_of_follower > 1 %}s{% endif %} </span> 
            </p>
            <!--follower modal-->
            <div id="followerModal" class="modal">
             <div class="followerContent">
               <div class="modal-header">
                 <span id="followerXBtn">&times;</span>
                 <h2>Followers</h2>
               </div>
               <div class="f_modal-body">
                 {% if follower %}
                   {% for user in follower %}
                   <a href="{% url 'profile' user.follower.username %}" style="text-decoration: none; color: inherit;">
                   <div class="f_container">
                     <img src="{{ user.follower.avatar.url }}">
                     {{ user.follower.first_name  }} {{ user.follower.last_name  }}
                   </div>
                   </a>
                   {% endfor %}
                 {% else %}
                   <p>No Follower</p>
                 {% endif %}
               </div>
             </div>
            </div>
          <p class="dot">&#x2022;</p>
            <p>
           <span id="followingModalBtn"> {{ number_of_following }} following{% if number_of_following > 1 %}s{% endif %} </span>
          </p>
           <!--following modal-->
           <div id="followingModal" class="modal">
             <div class="followingContent">
               <div class="modal-header">
                 <span id="followingXBtn">&times;</span>
                 <h2>Following</h2>
               </div>
               <div class="f_modal-body">
                 {% if following %}
                   {% for user in following %}
                   <a href="{% url 'profile' user.followed.username %}" style="text-decoration: none; color: inherit;">
                   <div class="f_container">
                     <img src="{{ user.followed.avatar.url }}" alt="following profile">
                     {{ user.followed.first_name  }} {{ user.followed.last_name }}
                   </div>
                   </a>
                   {% endfor %}
                 {% else %}
                   <p>No Following</p>
                 {% endif %}
               </div>
             </div>
           </div>
         </p>
        </div>

      <!--show sa following-->
      <div class="followers_avatar">
      {% if follower %}
      {% for user in follower|slice:":6" %}
      <a href="{% url 'profile' user.follower.username %}">
        <img
          src="{{ user.follower.avatar.url }}"
          alt="{{ user.follower.username }}"
          class="follow_avatar"
        />
      </a>
      {% endfor %}
      {% endif %}
      </div>
      
    </div>

    <div class="buttons">
      {% if is_own_profile %}
      <button class="button" id="editProfileBtn">Edit</button>
      <!--EDIT PROFILE MODAL-->
      {% include 'OnlyPans/modals/edit_profile.html' %}
      {% else %}
      <form method="POST" action="{% url 'follow_user' username=user.username %}">
        {% csrf_token %}
        {% if is_following %}
          <button class="button" id="unfollowBtn">Unfollow</button>
        {% else %}
          <button class="button" id="followBtn">Follow</button>
        {% endif %}
      </form>
      {% endif %}
    </div>
  </div>
  <div class="body_content">
    <div class="sidebar">
      
      <p class="intro">Intro</p>
      <p></p><i class="fas fa-wifi" style="transform: rotate(50deg);"></i>Followed by <strong>{{ number_of_follower }} people</strong></p>
      <p><i class="fas fa-calendar-alt"></i>Joined on <strong>{{ user.date_joined|date:"F j, Y" }}</strong></p>
      {% if is_own_profile %}
      <div class="bio_container">
        <p class="bio_text">{{ user.bio }}</p>
        <button class="button edit_bio" id="editBioBtn">Edit bio</button>
        <!--EDIT BIO MODAL-->
        {% include 'OnlyPans/modals/edit_bio.html' %}
      </div>
      {% else %}
      <div class="bio_container">
        <p class="bio_text">{{ user.bio }}</p>
        <br />
      </div>
      {% endif %}
      <div class="followers_container">
        <div class="follower_header">
          
          <p class="follower_title">Follower{% if number_of_follower > 1 %}s{% endif %}</p>
          <p class="number_of_follower">{{ number_of_follower }} follower{% if number_of_follower > 1 %}s{% endif %}</p>
        </div>
        {% if random_follower %}
        
        <div class="followers">
          {% for user in random_follower %}
          <div class="follower_card">
            
            <a href="{% url 'profile' user.follower.username %}">
            <img
              src="{{ user.follower.avatar.url }}"
              alt="{{ user.follower.username }}"
              class="follower_picture"
            />
          </a>
            <p class="follower_name">{{ user.follower.last_name  }}, {{ user.follower.first_name }}</p>           
          </div>
          {% endfor %}
          <div class="follower_card"></div>
          {% if number_of_follower == 0 %}
          <p class="number_of_follower">No follower</p> 
          {% endif %}

        </div>
        
        
        {% endif %}
      </div>
    </div>
    <!--end of sidebar-->

    <!--main content-->
    <div class="main_content">
      <!-- Create post modal -->
      {% if is_own_profile %}
        {% include 'OnlyPans/modals/create_post.html' %}
        {% if posts %}
        {% else %}
        <style>
          .createPost { margin-bottom: 15px;} /*if way post i 0 ang margin para nice*/
        </style>
        {% endif %}
      {% else %}
      <style>
        .post:first-child { margin: 0;} /*if way post i 0 ang margin para nice*/
      </style>
      {% endif %}
      <!-- Posts Container -->
      <div id="post-container">
        {% include 'OnlyPans/post.html' %}
      </div>
  
      <!-- Loading indicator -->
      <div id="loading" style="display: none;">Loading more posts...</div>
  </div>
  
  </div>
</div>
<!--scripts for showing the posts-->
<script>
  var username = "{{ user.username | escapejs }}";
</script>
<script src="{% static 'js/showposts.js' %}"></script>

{% endif %} {% endblock %}
