<!--navbar-->
{% include 'base.html' %}
{% block content %}
<!--pop up-->
{% include 'OnlyPans/post-view.html' %}

{% load static %}
{% load custom_timesince %}
{% load json_filter %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />

{% if user.is_authenticated %}
<div class="search-view-container">
  <div id="aside-filter" class="sidebar-search">
    <h2>Search results</h2>
    <hr />
    <div class="filters">
      <a href="{% url 'search_view' filter_type='all' %}?filter_type=all&q={{ query }}" class="filter-link" id="all-filter" data-target="all"><i class="fas fa-th"></i> All</a>
      <a href="{% url 'search_view' filter_type='people' %}?filter_type=people&q={{ query }}" class="filter-link" id="people-filter" data-target="people"><i class="fas fa-users"></i> People</a>
      <a href="{% url 'search_view' filter_type='posts' %}?filter_type=posts&q={{ query }}" class="filter-link" id="posts-filter" data-target="posts"><i class="fas fa-newspaper"></i> Posts</a>
      <a href="{% url 'search_view' filter_type='Meat' %}?filter_type=Meat&q={{ query }}" class="filter-link" id="meat-category" data-target="Meat"><i class="fas fa-hamburger"></i> Meat</a>
      <a href="{% url 'search_view' filter_type='Chicken' %}?filter_type=Chicken&q={{ query }}"  class="filter-link" id="chicken-category" data-target="Chicken"><i class="fas fa-drumstick-bite"></i> Chicken</a>
      <a href="{% url 'search_view' filter_type='Seafood' %}?filter_type=Seafood&q={{ query }}"  class="filter-link" id="seafood-category" data-target="Seafood"><i class="fas fa-fish"></i> Seafood</a>
      <a href="{% url 'search_view' filter_type='Veggies' %}?filter_type=Veggies&q={{ query }}"  class="filter-link" id="veggies-category" data-target="Veggies"><i class="fas fa-carrot"></i> Veggies</a>
      <a href="{% url 'search_view' filter_type='Dessert' %}?filter_type=Dessert&q={{ query }}"  class="filter-link" id="dessert-category" data-target="Dessert"><i class="fas fa-ice-cream"></i> Dessert</a>
      <a href="{% url 'search_view' filter_type='Snack' %}?filter_type=Snack&q={{ query }}"  class="filter-link" id="snack-category" data-target="Snack"><i class="fas fa-cookie"></i> Snack</a>
      <a href="{% url 'search_view' filter_type='Beverage' %}?filter_type=Beverage&q={{ query }}"  class="filter-link"  id="beverage-category" data-target="Beverage"><i class="fas fa-coffee"></i> Beverage</a>
    </div>
  </div>

  
  
  <div class="result-container">
    {% if filter_type == 'people' or filter_type == 'all' %}
    <div class="user-results">
      <h2 id="people-heading">People</h2>
      {% for user in users %}
      <div class="person user-item {% if forloop.counter > 3 %} hidden {% endif %}">
        <a href="{% url 'profile' user.username %}">
          <img
            src="{{ user.avatar.url }}"
            alt="{{ user.username }}"
            loading="lazy"
          />
          <div>
            {{ user.first_name }} {{ user.last_name }}</a>
            <span class="search-follower-count">
              {% if user.follower_count == 0 %}    
              {{ user.follower_count }} follower
              {% else %} 
              {{ user.follower_count }} {{ user.follower_count|pluralize:"follower, followers" }}
              {% endif %}
            </span>   
          </div>
        {% csrf_token %}
        <button class="search-follow-btn" id="searchFollowBtn" data-username="{{ user.username }}"
          data-logged-in-username="{{ request.user.username }}">
          {% if user.is_following %}
            Unfollow
          {% else %}
            Follow
          {% endif %}
        </button>
      </div>
      {% empty %}
      <div class="person">
        <span>No users found.</span>
      </div>

      {% endfor %}
      {% if users|length > 3 %}
        <button class="see-all-btn" id="toggle-btn">See More</button>
      {% endif %}
    </div>
    {% endif %}
    <!--end for users-->


    <!--start for posts-->
    {% if filter_type != 'people' %}
    <div class="search-food-results {% if forloop.counter > 2 %} hidden {% endif %}">
      <h2 id="post-heading">
        {% if filter_type == 'posts' %} 
          Posts 
        {% else %}
          {{ filter_type|title }} Posts
        {% endif %}
      </h2>
    <!--post-->
    {% for post in posts %}
      <div class="search-post">
        <!--post header-->
        <div class="search-post-header">
          <div class="search-post-owner">
            <a href="{% url 'profile' post.user.username %}">
              <img src="{{ post.user.avatar.url }}" alt="{{ post.user.username }}" loading="lazy">    
            </a>        
            <div class="search-post-owner-details">
              <a href="{% url 'profile' post.user.username %}">
                <span class="owner-name">{{ post.user.first_name }} {{ post.user.last_name }}</span>
              </a>
              <span class="post-date">{{ post.created_at | custom_timesince }} ago.</span>
            </div>
          </div>
          {% if request.user == post.user %}
          <div class="search-post-actions">
            <button class="edit-icon edit-btn" 
            data-post-title="{{ post.title | escapejs }}"
            id="openEditPostModalBtn"
            data-post-id="{{ post.post_id }}"
            data-post-category="{{ post.category_id }}"
            data-post-description="{{ post.description | escapejs }}"
            data-post-ingredients="{{ post.ingredients | escapejs }}"
            data-next="{{ request.path }}?q={{ request.GET.q }}"
            >
            
              <i class="fas fa-edit" title="Edit"></i>
            </button>
            <!--edit post modal is added on the base template-->

            <button class="delete-post-button" title="Delete Post"
            id="deletePostModalBtn" 
            data-post-id="{{ post.post_id }}"
            data-next="{{ request.path }}?q={{ request.GET.q }}">
              &times;
            </button>
            <!--the delete confirmation modal is added on the base template-->
            
          </div>
          {% endif %}
        </div>
        <!--post body-->
        <div class="search-post-body">
          <span class="search-post-title" id="post-title-{{ post.post_id }}">{{ post.title }}</span>
          <div class="search-post-image">
            {% if post.images.all %}
            {% for image in post.images.all %}
            <a href="javascript:void(0);"
            class="post-image-link"
            data-post-id="{{ post.post_id }}"
            onclick="showPopup(event)">
              <img src="{{ image.image.url }}" alt="post-image" loading="lazy">

            </a>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <!--post footer-->
        <div class="search-post-footer">
          <span class="no-of-likes" data-post-id="{{ post.post_id }}">
            {{ post.like_count }} 
            <i class="fa-solid fa-heart"></i>
          </span>
          <span class="no-of-comments" data-post-id="{{ post.post_id }}">
            {{ post.comment_count }} 
            <i class="fa-solid fa-comment"></i>  
          </span>
        </div>
      </div> 
      {% empty %}
      <div class="search-post">
        <span>No posts found.</span>
      </div>
      {% endfor %}
      <!--if there are more than 2 posts-->
      {% if posts|length > 2 %}
        <button class="see-all-btn" id="toggle-btn-post">See More</button>
      {% endif %}
    </div>
    {% endif %}
  </div>
  
</div>
{% endif %}
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/sidebar-active.js' %}" defer ></script>
  <script src="{% static 'js/open-post.js' %}" defer ></script>
  
{% endblock %}