{% include 'base.html' %}
{% block content %}
{% load static %}
{% load custom_timesince %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />


{% if user.is_authenticated %}
<!--csrf form-->
<form method="post" id="csrf_form">{% csrf_token %}</form>

<div class="search-view-container">
  <div id="aside-filter" class="sidebar-search">
    <h2>Search results</h2>
    <hr />
    <div class="filters">
      <a href="#" class="active" id="all-filter"><i class="fas fa-th"></i> All</a>
      <a href="#" id="people-filter"><i class="fas fa-users"></i> People</a>
      <a href="#" id="posts-filter"><i class="fas fa-newspaper"></i> Posts</a>
        <a href="#" id="meat-category"><i class="fas fa-hamburger"></i> Meat</a>
        <a href="#" id="seafood-category"><i class="fas fa-fish"></i> Seafood</a>
        <a href="#" id="chicken-category"><i class="fas fa-drumstick-bite"></i> Chicken</a>
        <a href="#" id="veggies-category"><i class="fas fa-carrot"></i> Veggies</a>
        <a href="#" id="dessert-category"><i class="fas fa-ice-cream"></i> Dessert</a>
        <a href="#" id="snack-category"><i class="fas fa-cookie"></i> Snack</a>
        <a href="#" id="beverage-category"><i class="fas fa-coffee"></i> Beverage</a>
    </div>
    
  </div>


  <div class="result-container">
    <div class="user-results">
      <h2 id="people-heading">People</h2>
      {% for user in users %}
      <div class="person user-item {% if forloop.counter > 3 %} hidden {% endif %}">
        <img
          src="{{ user.avatar.url }}"
          alt="{{ user.username }}"
        />
        <div>
          <a href="{% url 'profile' user.username %}">{{ user.first_name }} {{ user.last_name }}</a>
          <span class="search-follower-count">
            {% if user.follower_count == 0 %}    
            {{ user.follower_count }} follower
            {% else %} 
            {{ user.follower_count }} {{ user.follower_count|pluralize:"follower, followers" }}
            {% endif %}
          </span>   
        </div>
        {% csrf_token %}
        <button class="search-follow-btn" id="searchFollowBtn" data-username="{{ user.username }}"
          data-logged-in-username="{{ request.user.username }}">
          {% if user.is_following %}
            Unfollow
          {% else %}
            Follow
          {% endif %}
        </button>
      </div>
      {% empty %}
      <div class="person">
        <span>No users found.</span>
      </div>

      {% endfor %}
      {% if users|length > 3 %}
        <button class="see-all-btn" id="toggle-btn">See More</button>
      {% endif %}
    </div>
    <!--end for users-->

    <!--start for posts-->
    <div class="search-food-results {% if forloop.counter > 2 %} hidden {% endif %}">
      <h2 id="post-heading">Posts</h2>
    <!--post-->
    {% for post in posts %}
      <div class="search-post">
        <!--post header-->
        <div class="search-post-header">
          <div class="search-post-owner">
            <div class="search-avatar-image">
              <img src="{{ post.user.avatar.url }}" alt="{{ post.user.username }}">
            </div>
            <div class="search-post-owner-details">
              <span class="owner-name">{{ post.user.first_name }}, {{ post.user.last_name }}</span>
              <span class="post-date">{{ post.created_at | custom_timesince }} ago.</span>
            </div>
          </div>
          {% if post.user == request.user %}
          <div class="search-post-actions">
            <button class="edit-icon" title="{{ post.title | escapejs}}"
            id="openEditPostModalBtn"
            data-post-id="{{ post.post_id }}"
            data-post-category="{{ post.category.category_id | escapejs }}"
            data-post-description="{{ post.description | escapejs }}"
            data-post-ingredients="{{ post.ingredients | escapejs }}"
            >
              <i class="fa-solid fa-pencil-alt" title="Edit"></i>
            </button>
            <!--edit post modal is added on the base template-->

            <button class="delete-post-button" title="Delete Post"
            id="deletePostModalBtn" 
            data-post-id="{{ post.post_id }}"
            data-next="{{ request.path }}?q={{ request.GET.q }}">
              &times;
            </button>
            <!--the delete confirmation modal is added on the base template-->
            
          </div>
          {% endif %}
        </div>
        <!--post body-->
        <div class="search-post-body">
          <span class="search-post-title">{{ post.title }}</span>
          <div class="search-post-image">
            {% if post.images.all %}
            {% for image in post.images.all %}
            <img src="{{ image.image.url }}" alt="post-image">
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <!--post footer-->
        <div class="search-post-footer">
          <span class="no-of-likes">
            {{ post.like_count }} 
            <i class="fa-solid fa-heart"></i>
          </span>
          <span class="no-of-comments">
            {{ post.comment_count }} 
            <i class="fa-solid fa-comment"></i>  
          </span>
        </div>
      </div> 
      {% empty %}
      <div class="search-post">
        <span>No posts found.</span>
      </div>
      {% endfor %}
      <!--if there are more than 2 posts-->
      {% if posts|length > 2 %}
        <button class="see-all-btn" id="toggle-btn-post">See More</button>
      {% endif %}
    </div>
  </div>
  
</div>
{% endif %}
{% endblock %}
