{% block content %}
{% load static %}
{% include 'base.html' %}
<link rel="stylesheet" href="{% static 'css/search.css' %}" />


{% if user.is_authenticated %}
<div class="search-view-container">
  <div id="aside-filter" class="sidebar-search">
    <h2>Search results</h2>
    <hr />
    <div class="filters">
      <a href="#" class="active" id=" all-filter"><i class="fas fa-th"></i> All</a>
      <a href="#" id="posts-filter"><i class="fas fa-newspaper"></i> Posts</a>
      <a href="#" id="people-filter"><i class="fas fa-users"></i> People</a>
      <a href="#" id="meat-filter"><i class="fas fa-hamburger"></i> Meat</a>
      <a href="#" id="seafood-filter"><i class="fas fa-fish"></i> Seafood</a>
      <a href="#" id="chicken-filter"><i class="fas fa-drumstick-bite"></i> Chicken</a>
      <a href="#" id="veggies-filter"><i class="fas fa-carrot"></i> Veggies</a>
      <a href="#" id="dessert-filter"><i class="fas fa-ice-cream"></i> Dessert</a>
      <a href="#" id="snack-filter"><i class="fas fa-cookie"></i> Snack</a>
      <a href="#" id="beverage-filter"><i class="fas fa-coffee"></i> Beverage</a>
    </div>
    
  </div>


  <div class="result-container">
    <section class="user-results" id="user-results">
      <h2>People</h2>
      {% for user in users %}
      <div class="person user-item {% if forloop.counter > 3 %} hidden {% endif %}">
        {% comment %}style="{% if forloop.counter > 3 %} display: none;{% endif %}"{% endcomment %}
        <img
          src="{{ user.avatar.url }}"
          alt="{{ user.username }}"
        />
        <div>
          <a href="{% url 'profile' user.username %}">{{ user.first_name }} {{ user.last_name }}</a>
          {% if user.follower_count == 0 %}
            <span>{{ user.follower_count }} follower</span>
          {% else %}
            <span>{{ user.follower_count }} {{ user.follower_count|pluralize:"follower, followers" }}</span>
          {% endif %}
        </div>
        <button class="follow-btn">Follow</button>
      </div>
      {% empty %}
      <div class="person">
        <span>No users found.</span>
      </div>

      {% endfor %}
      {% if users|length > 3 %}
        <button class="see-all-btn" id="toggle-btn">See More</button>
      {% endif %}
    </section>

    <section class="food-results">
      <!--  -->
    </section>
  </div>

</div>

<script src="{% static 'js/search.js' %}"></script>
{% endif %}
{% endblock %}
