{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>
  <!--browser icon-->
  <link rel="icon" href="{% static 'images/icons/Logo Onlypans.ico' %}" sizes="48x48" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/signup.css' %}">
  <style>
    body {
      margin: 0;
      padding: 0;
      background: url("{% static 'images/bg.jpg' %}") center / cover no-repeat;
      height: 90vh;
    }
  </style>
</head>

<body>

  <div class="container">
    <!-- Left Side: Circular Image, Text, and Sign In Link -->
    <div class="left-side">
      <img src="{% static 'images/bg2.jpg' %}" alt="OnlyPans Logo" class="profile-pic" />
      <div>
        <p class="brand-label">OnlyPans</p>
        <p class="tagline">where the hottest dishes go viral.</p>
        <!-- <p class="login-text">
          Already have an account?<br />
          <a href="{% url 'login' %}" class="sign-in-link">Sign in here.</a>
        </p> -->
      </div>
    </div>

    <!-- Right Side: Sign Up Form -->
    <div class="right-side">
      <h1>Create a new account</h1>
      <form method="POST">
        {% csrf_token %}
        <!-- First row: First Name and Last Name -->
        <div class="form-row">
          <div class="form-field">

            <input type="text" placeholder="First name" id="firstname" name="first_name" {% if form.first_name.errors or form.is_bound %} required {% endif %} />
            <div class="error">
              {% if request.method == 'POST' and form.first_name.errors %} {% for error in form.first_name.errors %}
              <p style="margin: 0">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>
          </div>
          <div class="form-field">
            <input type="text" placeholder="Last name" id="lastname" name="last_name" {% if form.last_name.errors or form.is_bound %} required {% endif %} />
            <div class="error">
              {% if request.method == 'POST' and form.last_name.errors %} {% for error in form.last_name.errors %}
              <p style="margin: 0">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>
          </div>
        </div>

        <!-- Second row: Username and Gender -->
        <div class="form-row">
          <div class="form-field">
            <input type="text" placeholder="Username" id="username" name="username" {% if form.username.errors or form.is_bound %} required {%endif %} />
            <div class="error">
              {% if request.method == 'POST' and form.username.errors %} {% for error in form.username.errors %}
              <p style="margin: 0">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>
          </div>
          <div class="form-field">

            <select id="gender" name="gender" required>
              <option value="" disabled selected>Gender</option>
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
            </select>
            <div class="error">
              {% if request.method == 'POST' and form.gender.errors %} {% for error in form.gender.errors %}
              <p style="margin: 0">{{ error }}</p>
              {% endfor %} {% endif %}
            </div>
          </div>
        </div>

        <!-- Third row: Password -->
        <div class="form-field-password">
          <div class="password-wrapper">
            <input type="password" placeholder="Password" id="password" name="password1" required />
            <i class="fas fa-eye-slash" id="togglePassword1"
              onclick="togglePassword('password', 'togglePassword1')"></i>
          </div>
          <div class="error">
            {% if request.method == 'POST' and form.password1.errors %} {% for error in form.password1.errors %}
            <p style="margin: 0">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
        </div>

        <div class="form-field-password">
          <div class="password-wrapper">
            <input type="password" placeholder="Confirm Password" id="confirm_password" name="password2" required />
            <i class="fas fa-eye-slash" id="togglePassword2"
              onclick="togglePassword('confirm_password', 'togglePassword2')"></i>
          </div>
          <div class="error">
            {% if request.method == 'POST' and form.password2.errors %} {% for error in form.password2.errors %}
            <p style="margin: 0">{{ error }}</p>
            {% endfor %} {% endif %}
          </div>
        </div>


        <div class="eula">
          <p class="eula-text">People who use our service may have uploaded your contact information to OnlyPans.</p>
          <p class="eula-text">By clicking Sign Up, you agree to our <b style="cursor: pointer;">Terms, Privacy Policy and Cookies Policy.</b></p>
        </div>
        <!-- Submit Button -->
        <div class="form-footer">
          <button type="submit" id="signUpSubmitBtn">Sign Up</button>
        </div>
        <div class="divider"></div>
        <a href="{% url 'login' %}" class="button-link">
          <button type="button" class="sign-in-btn">Already have an account?</button>
        </a>
      </form>

    </div>
  </div>
  <script>
    function togglePassword(inputId, iconId) {
      const passwordInput = document.getElementById(inputId);
      const toggleIcon = document.getElementById(iconId);

      if (passwordInput.type === "password") {
        passwordInput.type = "text";
        toggleIcon.classList.remove("fa-eye-slash");
        toggleIcon.classList.add("fa-eye");
      } else {
        passwordInput.type = "password";
        toggleIcon.classList.remove("fa-eye");
        toggleIcon.classList.add("fa-eye-slash");
      }
    }
  </script>

</body>

</html>