{% load static %}
<!-- Create post content -->
<div class="createPost">
  <img src="{{ request.user.avatar.url }}" alt="pp" class="avatar_post" />
  {% if is_own_profile %}
  <input type="text" placeholder="What's cooking, {{ request.user.first_name }}?" id="createPostDiv" />
  <!-- Create POST MODAL -->
  <div id="createPost" class="modal">
    <div class="createPostContent">
      <div class="modal-header">
        <span class="close" id="createPostX">&times;</span>
        <h2>Create Post</h2>
      </div>
      <div class="modal-body">
        <form action="{% url 'create_post' request.user.username %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <div class="form-field">
              {{ createpost_form.title.label }}<br />
              {{ createpost_form.title }}
            </div>
            <div class="form-field">
              {{ createpost_form.category.label }}<br />
              {{ createpost_form.category }}
            </div>
          </div>
          <div class="form-field">
            {{ createpost_form.description.label }}<br />
            {{ createpost_form.description }}
          </div>
          <div class="form-field">
            {{ createpost_form.ingredients.label }}<br />
            {{ createpost_form.ingredients }}
          </div>
          <div class="form-field">
            {{ createpost_form.image.label }}<br />
            {{ createpost_form.image }}
          </div>
          <input type="hidden" name="create_post" />
          <div class="modal-footer">
            <input type="submit" value="Submit" id="createPostSubmitbtn" disabled />
            <!-- Initially disabled -->
          </div>
        </form>
      </div>
    </div>
  </div>
  {% else %}
  <input type="text" placeholder="Write something to {{ user.first_name }}?" id="createPostDiv" />
  <!-- Create POST MODAL -->
  {% endif %}
</div>