{% load static %}

<!-- Modal HTML -->
<div id="editProfile" class="modal">
  <div class="editProfilecontent">
    <div class="modal-header">
      <span class="close" id="editX">&times;</span>
      <h2>Edit Profile</h2>
    </div>
    <div class="modal-body">
      <form action="{% url 'edit_profile' request.user.username %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-field">{{ editprofile_form.as_p }}</div>

        <div class="modal-footer">
          <input type="submit" value="Submit" id="editProfileSubmitbtn" disabled />
          <!-- Initially disabled -->
        </div>
      </form>
    </div>
  </div>
</div>