{% load static %}

<!-- Modal HTML for Editing Bio -->
<div id="editBio" class="modal">
  <div class="editBiocontent">
    <div class="modal-header">
      <span class="close" id="bioClose">&times;</span>
      <h2>Edit Bio</h2>
    </div>
    <div class="editmodal-body">
      <form action="{% url 'edit_bio' request.user.username %}" method="POST">
        {% csrf_token %} {{ editbio_form.as_p }}
        <div class="modal-footer">
          <input type="submit" value="Submit" id="editBioSubmitbtn" disabled />
        </div>
      </form>
    </div>
  </div>
</div>