{% load static %}
<!-- Edit Post Modal -->
<div id="editPost" class="modal">
  <div class="editPostContent">
    <div class="modal-header">
      <span class="close" id="editPostX">&times;</span>
      <h2>Edit Post</h2>
    </div>
    <div class="modal-body">
      <form action="" method="POST" enctype="multipart/form-data" id="editPostForm">
        {% csrf_token %}

        <div class="form-field">
          <label for="editPostTitle">Title</label>
          <input type="text" name="title" id="editPostTitle" />
        </div>

        <div class="form-field">
          <label for="editPostCategory">Category</label>
          <select name="category" id="editPostCategory">
            {% for category in categories %}
            <option value="{{ category.category_id }}">
              {{ category.name }}
            </option>
            {% endfor %}
          </select>
        </div>

        <div class="form-field">
          <label for="editPostDescription">Description</label>
          <textarea name="description" id="editPostDescription"></textarea>
        </div>

        <div class="form-field">
          <label for="editPostIngredients">Ingredients</label>
          <textarea name="ingredients" id="editPostIngredients"></textarea>
        </div>

        <div class="modal-footer">
          <input type="submit" value="Update" id="editPostSubmitbtn" />
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const editPostUrl = "{% url 'edit_post' 0 %}";
</script>