{% load static %}
<!--style-->
<style>
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #e6d4bc; /* Same background as other modals */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #33221a; /* Same border as other modals */
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-header h2 {
    text-align: center;
  }

  .modal-body p {
    text-align: center;
  }

  .modal-footer {
    display: flex;
    justify-content: center; /* Add space between buttons */
    gap: 40px;
    margin-top: 10px;
  }
  .edit_icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .confirm-delete-button,
  .cancel-delete-button {
    margin-top: 10px;
    font-weight: 500;
    padding: 10px 20px;
    background-color: #33221a;
    color: #fdeed8;
    border: 2px solid #33221a;
    border-radius: 10px;
    font-size: 14px;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .confirm-delete-button:hover,
  .cancel-delete-button:hover {
    background-color: #f6e3d1; /* Lighter background on hover */
    color: #33221a; /* Change text color on hover */
    border: 2px solid #33221a;
  }
</style>
<!-- Delete Confirmation Modal -->
<div id="deleteConfirmationModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="closeDeletePostModal">&times;</span>
      <h2>Delete Post</h2>
    </div>
    <div class="modal-body">
      <p>
        Are you sure you want to delete this post? Once deleted, you will not be
        able to recover it!
      </p>
    </div>
    <div class="modal-footer">
      <button id="postConfirmDeleteBtn" class="confirm-delete-button">
        Delete
      </button>
      <button id="cancelDeleteBtn" class="cancel-delete-button">Cancel</button>
    </div>
  </div>
</div>

<script>
  const deletePostUrl = "{% url 'delete_post' 0 %}";
</script>
