{% load static %}
<!-- Delete Confirmation Modal -->
<div id="deleteConfirmationModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" id="closeDeletePostModal">&times;</span>
      <h2>Delete Post</h2>
    </div>
    <div class="modal-body">
      <p>
        Are you sure you want to delete this post? Once deleted, you will not be
        able to recover it!
      </p>
    </div>
    <div class="modal-footer">
      <button id="postConfirmDeleteBtn" class="confirm-delete-button">
        Delete
      </button>
      <button id="cancelDeleteBtn" class="cancel-delete-button">Cancel</button>
    </div>
  </div>
</div>

<script>
  const deletePostUrl = "{% url 'delete_post' 0 %}";
</script>
