#change-password-modal-content {
  background-color: var(--darker-primary-color);
  margin: 5% auto;
  padding: 20px;
  border: 2px solid #33221a;
  width: 500px;
  height: 380px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

/* Media query for tablets */
@media screen and (max-width: 922px) {
  #change-password-modal-content {
    width: 500px;
    padding: 15px;
    margin: 40% auto;
  }

  .change-password-modal-header h2 {
    font-size: 1.5rem;
  }

  .change-password-modal-header .close {
    font-size: 20px;
  }

  .form-field input {
    padding: 8px;
    font-size: 14px;
  }

  .modal-footer button {
    padding: 8px 15px;
    font-size: 13px;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  #change-password-modal-content {
    width: 70vw;
    padding: 10px;
  }

  .change-password-modal-header h2 {
    font-size: 1.2rem;
    padding-bottom: 15px;
  }

  .change-password-modal-header .close {
    font-size: 18px;
  }

  .form-field label {
    font-size: 14px;
  }

  .form-field input {
    padding: 6px;
    font-size: 12px;
  }

  .password-wrapper i {
    right: 5px;
  }

  .errors span {
    font-size: 12px;
  }

  .modal-footer button {
    padding: 6px 10px;
    font-size: 12px;
  }
}

/* Header styling */
.change-password-modal-header h2 {
  text-align: center;
  color: var(--secondary-color);
  padding-bottom: 20px;
}

.change-password-modal-header .close {
  float: right;
  color: var(--accent-color);
  cursor: pointer;
  font-size: 24px;
}

.change-password-modal-header .close:hover {
  font-weight: bold;
}

.change-password-modal-header .close:hover,
.change-password-modal-header .close:focus {
  color: var(--red-color);
  text-decoration: none;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
  font-weight: bold;
}

.form-field input {
  background-color: var(--primary-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px;
  text-align: center;
}

.password-wrapper {
  position: relative;
}

.password-wrapper i {
  position: absolute;
  right: 10px;
  top: 55%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #33221a;
}

/* Error message styling */
.errors span {
  color: red;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

/* Submit button styles */
.modal-footer button {
  font-weight: 500;
  padding: 10px 20px;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  font-size: 14px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-footer button:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}