* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}
ul {
  color: #fdeed8;
}
.post_container {
  display: flex;
  justify-content: center;
}

.post_content {
  border-radius: 20px;
  background: #33221a;
  padding: 20px;
  width: 57vw;
  margin: 20px; /* Added margin for spacing */
}

#avatar {
  width: 4vw;
  height: 4vw;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.user_details {
  display: flex;
  flex-direction: row;
}

.user_name {
  font-size: 18px;
  color: #fdeed8; /* Ensure user name color is clear */
}

.user_username {
  font-size: 12px;
  font-weight: lighter;
  color: #fdeed8; /* Ensure username color is clear */
}

.time {
  font-size: 10px;
  color: #fdeed8; /* Ensure time color is clear */
}
/*header buttons*/
.post_buttons {
  display: flex;
}
.more,
.delete {
  cursor: pointer;
  margin-right: 20px;
  color: #fdeed8; /* Button text color */
}
/*post-contents*/
.title {
  text-align: center;
  color: #fdeed8; /* Title color */
}
.description {
  text-align: justify;
  color: #fdeed8; /* Description color */
}
/*image style*/
#image {
  margin: 10px 0;
  height: 350px;
  width: 450px;
}
.post_body {
  display: flex;
  justify-content: center;
}
/*---------------------------------------------*/

/* Edit and delete modals */
.modal,
.delete-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content,
.delete-modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.close,
.delete-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
/* .delete-modal-confirm-btn {
  background-color: #c0392b; Red color for delete button
  color: white; White text
  border: none; No border
  padding: 10px 15px; Padding
  border-radius: 5px; Rounded corners
  cursor: pointer; Pointer on hover
} */
