body {
  background-color: var(--primary-color);
}
.search-view-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.sidebar-search {
  min-width: 350px;
  background: var(--darker-primary-color);
  padding: 10px;
  position: fixed;
  height: 90vh;
  top: 70px;
  left: 0;
  z-index: 2;
}


.sidebar-search h2 {
  margin: 15px 0;
  color: var(--secondary-color);
}
.sidebar-search hr {
  margin-bottom: 15px;
  border: 1px solid var(--secondary-color);
  opacity: .2;
}
.filters a {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.filters a.active {
  background-color: #fdeed8;
}
.filters a i {
  margin-right: 10px;
}

.filters a:hover {
  background: var(--primary-color);
  color: var(--accent-color);
}

.result-container {
  margin-left: 250px;
  margin-top: 100px;
  width: 650px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
 .user-results {
  width: 600px;
  margin-bottom: 0;
 }

.results h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.person {
  display: flex;
  align-items: center;
  background-color: var(--darker-primary-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.person img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.person div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.person div a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}
.person div span {
  font-size: 15px;
  opacity: .65;
}


.search-follow-btn, .see-all-btn {
  background-color: var(--accent-color);
  color: #fdeed8;
  padding: 5px 10px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.see-all-btn {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  transition: background-color .2s ease;
}

.search-follow-btn:hover, .see-all-btn:hover {
  background-color: #fdeed8;
  color: #1c1b1b;
  border: 2px solid #1c1b1b;
}

.hidden {
  display: none !important;
}

/* Food Post Section */
.search-food-results {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Food Post */
.search-post {
  display: flex;
  flex-direction: column;
  background-color: var(--darker-primary-color);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Post Header */
.search-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-post-owner-details {
  display: flex;
  align-items: center;
}

.search-avatar-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.owner-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
}

.post-date {
  font-size: 14px;
  color: #888;
  margin-left: 5px;
}

.search-post-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  font-size: 16px;
}

.search-post-actions i {
  color: #33221a;
}

/* Post Body */
.search-post-body {
  margin: 10px 0;
}

.search-post-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
}

.search-post-image img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

/* Post Footer */
.search-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #555;
}

.no-of-likes, .no-of-comments {
  margin-right: 10px;
}

.search-post-edit, .search-post-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 6px;
  font-size: 16px;
}

.search-post-edit:hover {
  color: #1c1b1b;
}

.search-post-delete:hover {
  color: red;
}
