body {
  background-color: var(--primary-color);
}
.search-view-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.sidebar-search {
  min-width: 290px;
  background: var(--darker-primary-color);
  padding: 10px;
  position: fixed;
  height: 90vh;
  top: 70px;
  left: 0;
  /* z-index: 2; */
}


.sidebar-search h2 {
  margin: 15px 0;
  color: var(--secondary-color);
}
.sidebar-search hr {
  margin-bottom: 15px;
  border: 1px solid var(--secondary-color);
  opacity: .2;
}
.filters a {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  text-align: left;
  text-decoration: none;
  color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.filters a.active {
  background-color: #fdeed8;
}
.filters a i {
  margin-right: 10px;
}

.filters a:hover {
  background: var(--primary-color);
  color: var(--accent-color);
}

.result-container {
  margin-left: 250px;
  margin-top: 100px;
  width: 650px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
 .user-results {
  width: 600px;
  gap: 20px;
 }

 .user-results h2 {
  margin-bottom: 15px;
}
.user-results h2,
.search-food-results h2 {
  font-size: 24px;
  letter-spacing: 1.5px;
  color: var(--secondary-color);
}

.person {
  display: flex;
  align-items: center;
  background-color: var(--darker-primary-color);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.person img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--secondary-color)
}

.person div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.person div a {
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}
.person div span {
  font-size: 15px;
  opacity: .65;
}


.search-follow-btn, .see-all-btn {
  background-color: var(--accent-color);
  color: #fdeed8;
  padding: 5px 10px;
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.see-all-btn {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  transition: background-color .2s ease;
}
#toggle-btn-post {
  margin-bottom: 20px;
}

.search-follow-btn:hover, .see-all-btn:hover {
  background-color: #fdeed8;
  color: #1c1b1b;
  border: 2px solid #1c1b1b;
}

.hidden {
  display: none !important;
}

.search-food-results, .user-results {
  margin: 1.5rem 0; /* Maintain consistent spacing even when toggling views */
}

.result-container > div.active {
  display: block; /* Show only the active section */
}

/* Food Post Section */
.search-food-results {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Food Post */
.search-post {
  display: flex;
  flex-direction: column;
  background-color: var(--darker-primary-color);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Post Header */
.search-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.search-post-owner {
  display: flex;
}
.search-post-owner-details {
  display: flex;
  flex-direction: column;
}

.search-avatar-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid var(--secondary-color);
}

.owner-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
}

.post-date {
  font-size: 12px;
  color: #888;
}

.search-post-actions .search-post-edit {
  width: 20px;
  height: 20px;
  padding: 0;
  
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
}


.search-post-delete {
  font-size: 20px;
  font-weight: bold;
  color: var(--accent-color);
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Post Body */
.search-post-body {
  margin: 10px 0;
  text-align: center;
}

span.search-post-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--secondary-color);
}

.search-post-image img {
  object-fit: cover;
  width: 570px;
  height: 570px;
  
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}

/* Post Footer */
.search-post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: var(--accent-color);
}

.search-post-edit, .search-post-delete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-post-edit:hover {
  color: var(--secondary-color);
}

.search-post-delete:hover {
  color: var(--red-color);
  transform: scale(1.4);
}
.no-of-comments, .no-of-likes,
.comment-count, .like-count {
  color: var(--accent-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.no-of-likes .fa-heart {
  color: var(--red-color);
}
.no-of-comments .fa-comment {
  color: var(--accent-color);
}