/*SIGNUP*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap");


* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* body {

  margin: 0;
  padding: 0;
  background-image: url("/static/images/bg.jpg");
  background-size: cover;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  gap: 80px;
}

h1 {
  margin: 10px 0;
  text-align: center;
  color: #33221a;
}

.left-side,
.right-side {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side {
  flex-direction: column;
  width: 432px;
  background-color: #e6d4bc;
  border-radius: 10px;
  max-width: 580px;
}
.left-side {
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  gap: 20px;
}

.profile-pic {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #e6d4bc;
}

.brand-label {
  font-size: 50px;
  font-weight: bold;
  color: #e6d4bc;
  margin: 0;
}

.tagline {
  font-size: 30px;
  color: #e6d4bc;
  margin: 0;
  font-style: italic;
  font-weight: bold;
}

form {
  padding: 20px;
}
.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.form-field input,
.form-field select {
  background-color: #fdeed8;
  border: 1px solid #33221a;
  border-radius: 5px;
  padding: 10px;
  width: 194px;
  height: 40px;
}

.form-field-password input {
  background-color: #fdeed8;
  border: 1px solid #33221a;
  border-radius: 5px;
  padding: 10px;
  width: 483.6px;
  height: 37.6px;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 35px;
  box-sizing: border-box;
}

.password-wrapper .fas.fa-eye,
.password-wrapper .fas.fa-eye-slash {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #33221a;
}
.eula-text {
  font-size: 11px;
  color: #33221a;
  margin-top: 0;
}

.form-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#signUpSubmitBtn {
  border-radius: 10px;
  font-size: 20px;
  background-color: #33221a;
  border: 2px solid #33221a;
  color: #fdeed8;
  padding: 10px 20px;
}

#signUpSubmitBtn:hover {
  background-color: #fdeed8;
  color: #33221a;
  border: 2px solid #33221a;
}
#signUpSubmitBtn,
.sign-in-btn {
  cursor: pointer;
  width: 364px;
  transition: background-color 0.3s ease;
}

.sign-in-btn {
  background-color: transparent;
  color: #33221a;
  /* width: 193px; */
  border: 2px solid #33221a;
  padding: 0 16px;
  line-height: 42px;
  border-radius: 8px;
  font-size: 15px;
}

.sign-in-btn:hover {
  cursor: pointer;
  background-color: #33221a;
  color: #fdeed8;
}

.button-link {
  display: flex;
  justify-content: center;
  width: 100%;
  text-decoration: none;
}
.divider {
  border-bottom: 1.5px solid #b0b0b0;
  margin: 20px 16px;
}

/*errors*/
.error {
  height: 20px;
  /* Adjust this based on the typical height of your error messages */
  font-size: 12px;
  color: red;
  margin-top: 5px;
  word-wrap: break-word;
  overflow: hidden;
}

/*RESPONSVE TABLET(922px)*/
@media screen and (max-width: 922px) {
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    background: url("{% static 'images/bg.jpg' %}") center / cover no-repeat;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  .left-side,
  .right-side {
    width: 440px;
  }

  .profile-pic {
    display: none;
  }

  .left-side div p {
    text-align: center;
  }
}
/*RESPONSIVE PHONE 600px*/
@media screen and (max-width: 600px) {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    background: url("{% static 'images/bg.jpg' %}") center / cover no-repeat;
  }
  .container {
    gap: 30px;
  }
  .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .left-side div p {
    display: none;
  }
  .profile-pic {
    display: block;
    width: 60px;
    height: 60px;
  }
  h1 {
    display: none;
  }
  form {
    padding: 20px;
    margin: 0;
  }
  .form-row {
    gap: 10px;
  }
  .left-side,
  .right-side {
    width: 330px;
    gap: 0;
  }
  .form-field input,
  .form-field select {
    width: 150px;
    height: 37px;
  }
  .form-field-password input {
    width: 310px;
  }
  #signUpSubmitBtn,
  .sign-in-btn {
    width: 310px;
    border-radius: 24px;
    font-size: 16px;
    height: 44px;
  }
  .error p {
    font-weight: bold;
  }
}
