@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap");

/*GLOBAL*/
:root {
  --primary-color: #fdeed8;
  --darker-primary-color: #e6d4bc;
  --secondary-color: #1c1b1b;
  --accent-color: #33221a;
  --red-color: #e63946;
  --secondary-text-color: #4f4f4f;

  /*complementary*/
  --pale-mint: #a8e6cf;
  --light-coral: #ff6f61;
  --soft-lavender: #e1bee7;
  --light-cream: #fff3e0;
  --sky-blue: #87ceeb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* *,
*:before,
*:after {
  border: 1px solid red;
  box-sizing: border-box;
} */

body {
  font-family: Poppins, sans-serif;
}

/*PROFILE*/
.body {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*NAA SA profile.css ang SUMPAY SA PROFILE NA CSS*/
/*NAA SA navbar.css ang navbar na css*/

/*DELETE BUTTON STYLES*/
.delete-post-button {
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  width: 30px;
  height: 30px;
  color: var(--primary-color);
  background-color: var(--accent-color);
  cursor: pointer !important;
  transition: transform 0.2s ease;
}
.delete-post-button:hover {
  background-color: var(--primary-color);
  color: var(--red-color);
  border: 1px solid var(--red-color);
  transform: scale(1.2);
}
/* EDIT BUTTON STYLES */
.edit-icon {
  background: none; 
  border: none; 
  cursor: pointer
}
button.edit-icon i {
  color: var(--accent-color);
  margin-right: 10px;
}
button.edit-icon i:hover {
  transform: scale(1.6);
}